.center {
  align-items: center;
  text-align: center;
}
.header {
  display: flex;
  justify-content: space-between;
}
.link {
  text-decoration: none;
  color: #212529;
}
.link:active {
  text-decoration: none;
}
.link:hover {
  color: #212529;
}
.linkActive {
  color: #0d6efd;
  text-decoration: none;
}
.linkActive:hover {
  color: #0d6efd;
}
.welcomeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcomeText {
  max-width: 450px;
  text-align: justify;
}
.important::before{
  color: red;
  content: "*";
  padding: 5px;
}
.buttonPosition {
  position: relative;
  left: 15px;
}
.formBottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tableButton {
  width: 70px;
}
.loadingOrder {
  position: absolute;
  top: -55px;
  left: 45%;
}
.orderPage {
  margin-top: 60px;
}
.ordersPageBottom {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 370px;
}
.pageSpan {
  margin: 5px;
}
.formLogin {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 150px;
}
.none {
  display: none;
  position: absolute;
}